html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
}

.todo-list-wrapper{
    margin: 1rem;
}

.todo-list-wrapper h1 {
    text-align: center;
    font-weight: 700;
}

.todo-add {
    padding: 1rem;
}

#todo-list {
    padding: 1rem;
    border: 1px solid #333;
}

#todo-list > * {
    display: flex;
    items-align: center;
    justify-content: space-between;
    padding: 0.5rem;
}